<section class="">
    <input type="checkbox"  id="inp">
    <div class="nav_bar d-flex">
        <!-- <div><h2 style="color: #fff;"></h2></div> -->
        <nav >
          <ul class="">
            <li><a routerLink="/login"(click)='event()' >Event</a></li>
            <li><a routerLink="/cart" (click)="deleatEvent()" >Deleated Event</a></li>
            <li><a routerLink="/registration" (click)="logout()">Logout</a></li>
            <button><label for="inp"><i class="bi bi-list"></i></label></button>

          </ul>

        </nav>
       
       
        
    </div>
    <div style="  height: 3px; background-color: antiquewhite;"></div>
    <div class="box bg-dark">
        <ul class="">
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </div>  
   

</section>

